# See http://help.github.com/ignore-files/ for more about ignoring files.
*-lock.json
# compiled output
/dist
/tmp
/out-tsc
errors.log
# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.env
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
mockups

# System Files
.DS_Store
Thumbs.db
ng-add-pug-loader.js
src/assets/js/froala_wiris/node_modules
src/assets/js/froala_wiris/integrations
