.forgot-password-page(fxLayout="column", fxLayoutAlign="center center")
    object.logo(type="image/svg+xml", data="./assets/icons/logo.svg")
    form(*ngIf="!checkedUser && !token && !newPassword" fxLayout="column", fxLayoutAlign="center center", [formGroup]="forgotPasswordForm", name="forgotPasswordForm", (ngSubmit)="checkUser()")
        div(fxLayout="row", fxLayoutAlign="center center")
            mat-icon(svgIcon="email_white")
            mat-form-field(fxFlexOffset="10px")
                mat-icon(matSuffix) &nbsp;
                input(matInput,  placeholder="{{'page.login.username' | translate}}", required, formControlName="username")
                mat-error(*ngIf="forgotPasswordForm?.controls.username?.errors?.required") {{'page.forgotPassword.usernameRequired' | translate}}
                mat-error(*ngIf="forgotPasswordForm.controls.username.hasError('incorrect')") {{'errors.forgotPassword.error_empty_email_username_fields' | translate}}

        button(fxFlexOffset="30px", mat-button, mat-raised-button, type="submit", class="login-buttons", [disabled]="!forgotPasswordForm.valid") {{ 'form.done' | translate}}

    div(*ngIf="checkedUser && !token && !newPassword", fxLayoutAlign="center center")
        p {{ 'page.forgotPassword.successNotification' | translate}}

    form(*ngIf="token && !newPassword" fxLayout="column", fxLayoutAlign="center center", [formGroup]="changePasswordForm", name="changePasswordForm", (ngSubmit)="changePassword()")
        div(fxLayout="row", fxLayoutAlign="center center")
            mat-icon(svgIcon="lock_white")
            mat-form-field(fxFlexOffset="10px")
                input(matInput, placeholder="{{ 'page.login.password' | translate}}", required, formControlName="password", [type]="'text'")
                mat-error(*ngIf="changePasswordForm?.controls.password?.errors?.required") {{'page.forgotPassword.passRequired' | translate}}
                mat-error(*ngIf="changePasswordForm?.controls.password?.errors?.minlength") {{'page.forgotPassword.minLength' | translate}}
        div(fxLayout="row", fxLayoutAlign="center center")
            mat-icon(svgIcon="lock_white")
            mat-form-field(fxFlexOffset="10px")
                input(matInput, placeholder="{{ 'page.forgotPassword.confirmPassword' | translate}}", required, formControlName="confirmPassword", [type]="'password'")
                mat-error(*ngIf="changePasswordForm.hasError('mismatchedPasswords')") {{'page.forgotPassword.notMatch' | translate}}
                mat-error(*ngIf="changePasswordForm?.controls.confirmPassword?.errors?.required") {{'page.forgotPassword.confirmPassRequired' | translate}}
                mat-error(*ngIf="changePasswordForm?.controls.confirmPassword?.errors?.minlength") {{'page.forgotPassword.minLength' | translate}}
                mat-error(*ngIf="changePasswordForm.controls.confirmPassword.hasError('invalid_token')") {{'errors.forgotPassword.invalid_token' | translate}}
        button(fxFlexOffset="30px", mat-button, mat-raised-button, type="submit", class="login-buttons", [disabled]="!changePasswordForm.valid") {{ 'form.done' | translate}}

    div(*ngIf="newPassword", fxLayout="column", fxLayoutAlign="center center")
        p {{'page.forgotPassword.passwordChanged' | translate}}
        button(class="login-buttons", mat-button, mat-raised-button, routerLink="login") {{ 'form.done' | translate}}
