.file-upload {
    &__input {
        visibility: hidden;
        position: absolute;
        height: 0;
    }
    &__btn {
        mat-icon {
            margin-right: 5px;
        }
    }
}
