/deep/ .login-page {
    color: white !important;
    button {
        color: #237ec5;
        font-size: large;
    }
    .mat-form-field-appearance-legacy .mat-form-field-label {
        color: #fff !important;
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: #fff !important;
    }
    .logo {
        width: 152px;
    }
}


