doctype html
html
    head
    body
        div(dir='ltr')
            div(dir='ltr')
                div
                    blockquote(style='margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex')
                        div
                            div(style='background-color:rgb(229,229,229);font-family:arial,verdana,helvetica')
                                br
                                table(width='481', style='margin: 0 auto;', border='0', cellspacing='0', cellpadding='0')
                                    tbody
                                        tr
                                            td(width='20', cellspacing='0', cellpadding='0')
                                            td(cellspacing='0', cellpadding='0')
                                                table(width='481', height='8', border='0', cellspacing='0', cellpadding='0')
                                                    tbody
                                                        tr(height='8', cellspacing='0', cellpadding='0')
                                                            td(cellspacing='0', cellpadding='0', height='8')
                                                                img(src='https://virtuprofs.com/email-border-top.jpg?ver=86', style='display:block;height:8px;margin:0px;padding:0px;width:609px')
                                                table(width='481', border='0', cellspacing='0', cellpadding='0', style='margin:0px;padding:0px;border-left:1px solid rgb(229,229,229);border-right:1px solid rgb(229,229,229)')
                                                    tbody
                                                        tr
                                                            td
                                                                table(width='479', border='0', cellspacing='0', cellpadding='0', style='margin:0px;padding:0px;border-left:1px solid rgb(219,219,219);border-right:1px solid rgb(219,219,219)')
                                                                    tbody
                                                                        tr
                                                                            td
                                                                                table(width='477', border='0', cellspacing='0', cellpadding='0', style='margin:0px;padding:0px;border-left:1px solid rgb(206,206,206);border-right:1px solid rgb(206,206,206)')
                                                                                    tbody
                                                                                        tr
                                                                                            td
                                                                                                table(width='475', border='0', cellspacing='0', cellpadding='0', style='margin:0px;padding:0px;border-left:1px solid rgb(237,237,237);border-right:1px solid rgb(237,237,237)')
                                                                                                    tbody
                                                                                                        tr
                                                                                                            td(style='background-color:rgb(245,245,245)')
                                                                                                                table(width='600', border='0', cellspacing='0', cellpadding='0', style='margin:0px;padding:0px')
                                                                                                                    tbody
                                                                                                                        tr
                                                                                                                            td(width='30')
                                                                                                                            td(width='413')
                                                                                                                                table(border='0', cellspacing='0', cellpadding='0', style='margin:0px;padding:0px;width:100%')
                                                                                                                                    tbody
                                                                                                                                        tr(height='28')
                                                                                                                                            td(height='28')
                                                                                                                                        tr(height='27')
                                                                                                                                            td(height='27', style='text-align: center;')
                                                                                                                                                img(src='https://virtuprofs.com/_virtuprofs-logo.png', width='96', height='96', style='font-family:Arial,Helvetica,sans-serif;letter-spacing:0.2px;')
                                                                                                                                                br
                                                                                                                                        tr(height='56')
                                                                                                                                            td(height='56')
                                                                                                                                        tr(style='text-align: center;')
                                                                                                                                            td
                                                                                                                                                span(style='font-family:arial,verdana,helvetica;font-weight:bold;font-size:42px;color:#968FF4;text-transform:uppercase;line-height:54px')
                                                                                                                                                    | UNE DERNIÈRE
                                                                                                                                                    br
                                                                                                                                                    span(style='color:#643E95;border-bottom:5px solid #968FF4') ÉTAPE
                                                                                                                                        tr(height='34')
                                                                                                                                            td(height='34')
                                                                                                                                        tr
                                                                                                                                            td(style='text-align: center;')
                                                                                                                                                span(style='font-family:arial,verdana,helvetica;color:#643E95;font-size:14px;text-align: center;') Pour finaliser la création de votre compte, merci de cliquer sur le bouton :
                                                                                                                                        tr(height='20')
                                                                                                                                            td(height='20')
                                                                                                                                        tr(height='6', cellspacing='0', cellpadding='0')
                                                                                                                                            td(cellspacing='0', cellpadding='0', height='6')
                                                                                                                                                img(src='https://virtuprofs.com/button-top.jpg?ver=999', style='display:block;height:6px;width:351px;margin:0px auto;padding:0px')
                                                                                                                                        tr(cellspacing='0', cellpadding='0')
                                                                                                                                            td(cellspacing='0', cellpadding='0', style='text-align: center;')
                                                                                                                                                a(href=confirmationLink, rel='noreferrer', target='_blank')
                                                                                                                                                    span(style='font-family:arial,verdana,helvetica;color:rgb(255,255,255);background-color:#968FF4;font-size:16px;line-height:36px;height:34px;width:351px;display: inline-block;text-align:center') Activer mon compte
                                                                                                                                        tr(height='6', cellspacing='0', cellpadding='0')
                                                                                                                                            td(cellspacing='0', cellpadding='0', height='6')
                                                                                                                                                img(src='https://virtuprofs.com/button-bottom.jpg?ver=999', style='display:block;height:6px;width:351px;margin:0px auto;padding:0px')
                                                                                                                                        tr
                                                                                                                                            td(style='text-align: center;')
                                                                                                                                                span(style='text-align:center;font-family:arial,verdana,helvetica;color:rgb(130,130,130);font-size:14px;line-height:36px;height:16px;width:350px;') Ce lien expirera dans 24 heures.
                                                                                                                                        tr(height='30')
                                                                                                                                            td(height='15')
                                                                                                                                        tr(height='6', cellspacing='0', cellpadding='0')
                                                                                                                                            td(cellspacing='0', cellpadding='0', height='6')
                                                                                                                                                span(style='font-family:arial,verdana,helvetica;color:#643E95;font-size:18px')
                                                                                                                                                    br
                                                                                                                                        tr(height='25')
                                                                                                                                            td(height='25')
                                                                                                                                        tr
                                                                                                                                            td(style='text-align: center;')
                                                                                                                                                span(style='font-family:arial,verdana,helvetica;color:#643E95;font-size:18px;font-weight:bold') - L'équipe VirtuProfs
                                                                                                                                        tr(height='35')
                                                                                                                                            td(height='55')
                                                                                                                            td(width='30')
                                                table(width='481', height='9', border='0', cellspacing='0', cellpadding='0')
                                                    tbody
                                                        tr
                                                            td
                                                                img(src='https://virtuprofs.com/email-border-bottom.jpg', style='display:block;height:9px;width:609px;margin:0px;padding:0px')
                                                span(style='width:450px;height:40px;margin-left:40px;line-height:36px;float:left;font-family:arial,verdana,helvetica;color:rgb(153,153,153);font-size:14px') Si vous recevez cet email par erreur, merci de l'ignorer.
                                            td(width='20')
                div
                div
                    br
                    br
            div
                br
