.lessons-done {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

table {
    width: 100%;
}

.table-class {
    border-radius: 16px;
}

.numberOfStudents {
    padding:20px;
}

.displayInformation{
    text-align:center
}

.datePicker{
    margin:20px;
}