.payment-status-page(fxLayout="column", fxLayoutAlign="center center" )
    object.logo(type="image/svg+xml", data="./assets/icons/logo.svg")
    h3(fxFlex) Payment {{paymentSuccess ? 'successful' : 'canceled'}}!
