//.profile-edit-page.border(fxLayout="column")
//    .avatar(fxLayoutAlign="center")
//        button(mat-fab, color="accent")
//    form(fxLayout="column", fxLayoutAlign="center center", [formGroup]="form", name="loginForm", (ngSubmit)="login()")
//        .div(fxLayout="row", fxLayoutAlign="center center")
//            mat-icon(svgIcon="email_white")
//            mat-form-field(fxFlexOffset="10px")
//                mat-icon(matSuffix) &nbsp;
//                input(matInput,  placeholder="{{ 'page.login.username' | translate}}", required, formControlName="username")
//                //mat-error {{'errors.login.' + loginValidationErr('username') | translate}}
//        .div(fxLayout="row", fxLayoutAlign="center center")
//            mat-icon(svgIcon="lock_white")
//            mat-form-field(fxFlexOffset="10px")
//                mat-icon(matSuffix, svgIcon="visibility", (click)="makePasswordVisible()")
//                input(matInput, placeholder="{{ 'page.login.password' | translate}}", required, formControlName="password", [type]="isVisible?'text':'password'")
//                //mat-error {{'errors.login.' + loginValidationErr('password') | translate}}
//        button(fxFlexOffset="30px", mat-button, mat-raised-button, type="submit", class="login-buttons") {{ 'page.login.login' | translate}}
//        p.mat-h3(translate="page.login.loginWith", fxFlexOffset="25px")
